---
layout: default
---
<div class="header container-fluid">
</div>
<div class="short-about container-fluid">
  <div class="container">
  <div class="row">
      <div class="short-about-profile col-lg">
      <img src="../assets/pic.jpg">
      <ul class="short-about-links">
        <li>
          <a href="mailto:biancamvaguilar@gmail.com">
              <i class="fas fa-envelope"></i>
          </a>
        </li>
        <li>
          <a href="https://fb.com/biancamikailaa">
            <i class="fab fa-facebook-square"></i>
          </a>
        </li>
        <li>
          <a href="https://twitter.com/biancamikaila">
            <i class="fab fa-twitter"></i>
          </a>
        </li>
        <li>
          <a href="https://instagram.com/biancamikaila">
            <i class="fab fa-instagram"></i>
          </a>
        </li>
        <li>
          <a href="https://linkedin.com/in/biancamikaila">
            <i class="fab fa-linkedin"></i>
          </a>
        </li>
      </ul>
    </div>
    <div class="short-about-text col-lg">
      <h1>Hi, I'm Bianca Aguilar! </h1>
      <p>I'm an <span>artist and designer</span> passionate about the intertwine of <span>technology + humanity</span>. As a creative, I develop visuals to empower <span>inclusive advocacies</span>. Currently, I'm the Chief Marketing Officer of <a href="https://developh.org/">Developh</a>: a global non-profit investing in student-led innovation to break the technology gap. Soon, I'll be taking up <span>AB Interdisciplinary Studies</span> (CS Programming & Information Design) at Ateneo de Manila University. Learn more about me <a href="/about">here!</a></p>
    </div>
  </div>
  </div>
</div>
<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}


  {%- if site.posts.size > 0 -%}
  <div class="grid container-fluid">
    {%- for post in site.posts -%}
    <div class="row">
      <!--
      <div class="grid-item col-sm-3" {% if post.thumbnail %}style="background-image:url({{ post.thumbnail }}); background-position:center; background-size:cover;"{% endif %}>
      -->
      <div class="grid-item col-md-3 col-lg-4">
        <a href="{{ post.url | relative_url }}">
            <img src="{{ post.thumbnail }}" alt="{{ post.title | escape }}"/>
            <div class="grid-item-hover">
              <div class="item-info">
                <h2 class="post-title">{{ post.title | escape }}</h2>
                <p>{{ post.categories }}</p>
              </div>
            </div>
        </a>
      </div>
    </div>
    {%- endfor -%} 
  </div>
  {%- endif -%}

  <!--jquery-->
  <script src="../js/jquery-3.4.1.js"></script>
  <!--plugins-->
  <script src="../js/bootstrap.min.js"></script>
  <script src="../js/isotope.pckd.min.js"></script>
  <script src="../js/packery-mode.pckd.min.js"></script>
  <script src="../js/imagesloaded.pckd.min.js"></script>
  <!--custom-->
  <script src="../js/custom.js"></script>
  <!--
  {%- if site.posts.size > 0 -%}
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        <a href="{{ post.url | relative_url }}">
        <img src="{{ post.thumbnail | crop: 'center', scale: 2 }}" alt="{{ post.title | escape }}"/>
        </a>
      </li>
      {%- endfor -%}  
    </ul>
  {%- endif -%}
  -->
<!--
  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        <img src="{{ post.thumbnail }}" />
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}
-->

</div>
